<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
<head>
	<title>Find Moisture Content of the Soil</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="bg-contact2" style="background-image: url('{% static 'images/bg-01.jpg' %}">
		<div class="container-contact2">
			<div class="wrap-contact2">
				{%  if messages %}
					{%  for message in messages %}
					<div class="alert alert-{{  message.tags }}">
						{{  message }}
					</div>

					{%  endfor %}
				{% endif %}
				<form class="contact2-form validate-form" method = "post" enctype="multipart/form-data">
					{% csrf_token %}
					<span class="contact2-form-title">
						Find the moisture content of the soil sample<br>
						मिट्टी की नमी का पता लगाएं<br>
						测量土壤样品含水量
					</span>
			
					<div>
						<B><p style="font-size:21px;color:black">Upload the image of soil sample / 
मिट्टी के नमूने की छवि अपलोड करें /
上传土样图片 :</B></p>
					</div>	

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-btn">
                				<span class="btn btn-default btn-file">
                    				<input type="file" id="imgInp" name="soil_img">
                				</span>
            				</span>
            <!-- <input type="text" class="form-control" readonly> -->
        				</div>
        			</div>
					<br>
					<div>
						
						<B><p style="font-size:21px;color:black">Type of soil / 
मिट्टी का प्रकार /
土壤类型 :</B></p>
					</div>
					<br>

					<div class="col">
  						<input class="form-check-input" type="radio" name="soil_type" id="inlineRadio1" value="Clayey">
  						<label class="form-check-label" for="inlineRadio1"><p style="font-size:18px;color:black"><img src="media/clayey.jpeg" style="width:120px;height:100px;">  <B>Clayey / चिकनी मिट्टी / 粘土</B></p></label>
					</div>
					<br>
					<div class="col">
  						<input class="form-check-input" type="radio" name="soil_type" id="inlineRadio2" value="Ash">
  							<label class="form-check-label" for="inlineRadio2"><p style="font-size:18px;color:black"><img src="media/ash.jpeg" style="width:120px;height:100px;">  <B>Ash / राख / 飞灰</B></p></label>
					</div>
					<br>
					<div class="col">
  						<input class="form-check-input" type="radio" name="soil_type" id="inlineRadio3" value="Clayey_Sand">
  						<label class="form-check-label" for="inlineRadio3"><p style="font-size:18px;color:black"><img src="media/clayey-sand.jpeg" style="width:120px;height:100px;">  <B>Clayey Sand / चिकनी रेत / 粘性沙土</B></p></label>
					</div>
					<br>
					<div class="col">
  						<input class="form-check-input" type="radio" name="soil_type" id="inlineRadio3" value="Sandy">
  						<label class="form-check-label" for="inlineRadio3"><p style="font-size:18px;color:black"><img src="media/sandy.jpeg" style="width:120px;height:100px;">  <B>Sandy / रेतीली मिट्टी / 沙土</B></p></label>
					</div>
					<br>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" formaction="{%  url 'show-result' %}">
								Submit / 
प्रस्तुत / 提交
							</button>
						</div>
					</div>
				</form>
				<br>
				<center><a href = "{%  url 'logout' %}">Logout</a></center>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
